body {
  background-color: #f3f3f3;
  font-size: small;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-drag {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 768px;
  height: 100vh;

  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 150px;
  background-color: pink;
  padding: 15px;
}

.item {
  cursor: pointer;
  background-color: white;
  padding: 15px 25px;
  margin-top: 10px;
}

